@import './reset';
@import './utility';

body{
  background: #F4ECEC;
}
.main{
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

img{
  display: block;
  height: auto;
}
.banner{
  img{
    width: 100%;
  }
}

.nav{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  max-width: 800px;
  width: 100%;
  background: #F7F7F7;
  padding-top: 5px;
  padding-bottom: 5px;
  ul{
    display: block;
    width: 100%;
    color: #FFD700;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    @media(max-width: 800px){
      font-size: 12px;
    }
  }
  li{
    width: 19%;
    height: 40px;
    border-radius: 4px;
    background: #00216F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: 441px){
      height: 30px;
      a{
        line-height: 30px;
      }
    }
  }
  a{
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    line-height: 40px;
    &:hover{
      background: #F9DD07;
      color: black;
    }
  }
}

.backup-links{
  border: 4px solid #0233A5;
  background: #0233A5;
  .backup-title{
    color: #FFFFFF;
    text-align: center;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    P{
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  .backup-content{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 110px;
    > div{
      margin-top: 3px;
      width: 49.5%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #DCE5EF;
    }
  }
  .backup-link{
    color: #0E79F4;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    @media (max-width: 414px){
      font-size: 18px;
    }
    @media (max-width: 375px){
      font-size: 16px;
    }
  }
}

.open-prize{
  background: #DEC07A;
  margin-bottom: 20px;
}

.content-box{
  border: 4px solid #0233A5;
  .content-title{
    height: 50px;
    color: #ffffff;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    background: #0233A5;
    p{
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .content-header{
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (max-width: 414px){
      font-size: 13px;
    }
    @media (max-width: 375px){
      font-size: 12px;
    }
  }

  @media (max-width: 414px){
    .content-title{
      font-size: 22px;
    }
  }
  @media (max-width: 375px){
    .content-title{
      font-size: 20px;
    }
  }
  .content-subtitle{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
  .content-btn{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    .btn1, .btn2{
      cursor: pointer;
      height: 48px;
      width: 48%;
      border-radius: 4px;
      text-align: center;
      line-height: 48px;
      margin-right: 5px;
      margin-left: 5px;
      font-size: 20px;
      background: #BABABA;
      color: #676767;
    }
    .btn1.active{
      background: #027E70;
      color: #fff;
    }
    .btn2.active{
      background: #842A16;
      color: #fff;
    }
  }
  .content-inner{
    li{
      padding-left: 10px;
      height: 40px;
      background: #DCE5EF;
      line-height: 40px;
      font-size: 18px;
      border-bottom: 2px solid #fff;
      @media (max-width: 414px){
        font-size: 16px;
      }
      @media (max-width: 375px){
        font-size: 14px;
      }
    }
    li:last-child{
      border-bottom: none;
    }
    .content{
      font-weight: bold;
    }
    li.highlight{
      background: #C5543F;
      .title{
        color:#fff;
      }
      .content{
        color: #fff;
      }
    }
    @media (max-width: 800px){
      p{
        font-size: 16px;
      }
    }
    @media (max-width: 414px){
      p{
        font-size: 12px;
      }
    }
    > img{
      width: 100%;
    }
  }
  .content-img{
    img{
      width: 100%;
    }
  }
  .content-img-board{
    background: url("../images/jinHua_01.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 800px;
    height: 1191px;
    display: flex;
    flex-direction: column;
  }
  .content-board-title{
    color: #F5EDD5;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 110px;
    padding-top: 40px;
  }
  .content-board-curtain{
    padding-left: 45px;
    padding-right: 45px;
    p{
      font-size: 130px;
      font-family: BiauKaiHK;
      @media (max-width: 414px){
        font-size: 35px;
      }
    }
  }
  .content-board-inner{
    margin-top: 200px;
    p{
      line-height: 60px;
      font-size: 52px;
      text-align: center;
      font-family: BiauKaiHK;
    }
  }
  .content-board-footer{
    margin-top: 50px;
    color: #EFD89D;
    font-size: 28px;
    text-align: center;
    padding-bottom: 50px;
  }
  @media (max-width: 800px){
    .content-img-board{
      height: 740px;
    }
    .content-board-title{
      font-size: 30px;
      padding-top: 35px;
      margin-bottom: auto;
    }
    .content-board-inner{
      margin-bottom: 30px;
      p{
        line-height: 40px;
        padding-left: 50px;
        font-size: 25px;
      }
      p:last-child{
        font-size: 20px;
      }
    }
    .content-board-footer{
      font-size: 18px;
      text-align: center;
      padding-bottom: 25px;
    }
  }

  @media (max-width: 414px){
    .content-img-board{
      height: 600px;
    }
    .content-board-title{
      font-size: 25px;
      padding-top: 20px;
      padding-right: 60px;
    }
    .content-board-inner{
      margin-bottom: 20px;
      margin-top: 120px;
      p{
        line-height: 35px;
        padding-left: 20px;
        font-size: 22px;
      }
      p:last-child{
        font-size: 18px;
      }
    }
    .content-board-footer{
      font-size: 15px;
      padding-bottom: 20px;
      margin-top: 0;
    }
  }

  @media (max-width: 375px){
    .content-img-board{
      height: 550px;
    }
    .content-board-title{
      font-size: 22px;
      padding-top: 15px;
      padding-right: 50px;
    }
    .content-board-inner{
      margin-bottom: 25px;
      margin-top: 110px;
      p{
        line-height: 30px;
        padding-left: 40px;
        font-size: 20px;
      }
      p:last-child{
        font-size: 16px;
      }
    }
    .content-board-curtain{
      padding-left: 35px;
      padding-right: 35px;
    }
    .content-board-footer{
      font-size: 15px;
      padding-bottom: 20px;
    }
  }
  .content-inner-left{
    width: 66%;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    height: 140px;
    line-height: 24px;
    @media (max-width: 800px){
      font-size: 14px;
    }
    @media (max-width: 414px){
      line-height: 20px;
    }
  }
  .content-inner-right{
    width: 33%;
    height: 140px;
    padding-left: 5px;
    padding-top: 5px;
  }
  .content-inner-more-website{
    li{
      line-height: 40px;
      height: 40px;
      width: 32.5%;
      border-radius: 10px;
      margin-bottom: 5px;
      font-size: 20px;
    }
    @media (max-width: 800px){
      li{
        font-size: 16px;
      }
    }
    @media (max-width: 414px){
      li{
        font-size: 12px;
      }
    }
  }
  .content-inner-fullyear-data{
    li{
      width: 24%;
      height: 40px;
      line-height: 40px;
      border-radius: 10px;
      margin-bottom: 5px;
      font-size: 20px;
    }
    @media (max-width: 800px){
      li{
        font-size: 14px;
      }
    }
    @media (max-width: 414px){
      li{
        width: 48%;
      }
    }
  }
  .content-inner-zodiac{
    background: #DCE5EF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .zodiac-box{
      margin-bottom: 20px;
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
    }
    .zodiac-footer{
      gap: 5px;
      span{
        display: flex;
        width: 22px;
        height: 24px;
        align-items: center;
        justify-content: center;
      }
    }
    @media (max-width: 414px){
      .zodiac-box{
        width: 48%;
      }
    }
  }
  .content-inner-five-element{
    li{
      padding-left: 5%;
      height: 40px;
      background: #DCE5EF;
      line-height: 40px;
      font-size: 18px;
      border-bottom: 2px solid #fff;
    }
    li span:first-child{
      margin-right: 20px;
    }
    li:last-child{
      border-bottom: none;
    }
  }
  .content-inner-wave-color{
    li{
      padding-left: 5%;
      height: auto;
      background: #DCE5EF;
      line-height: 40px;
      font-size: 14px;
      border-bottom: 2px solid #fff;
    }
    li span:first-child{
      margin-right: 20px;
    }
    li:last-child{
      border-bottom: none;
    }
  }
}

#area1::before{
  content: "";
  display: block;
  height: 120px; /* height of the nav bar */
  margin-top: -120px; /* negative value of nav bar height */
  visibility: hidden;
}

.footer{
  background: #00216F;
  font-size: 14px;
  p{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #00216F;
    line-height: 16px;
  }
}
.backtop{
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  a{
    display: block;
    text-decoration: none;
    color: #fff;
    cursor: pointer
  }
}

.green-website .content-title{
  span{
    position: absolute;
    color: #F9DD07;
    a{
      color: #F9DD07;
    }
  }
  span:first-of-type{
    font-size: 26px;
    right: 100px;
    font-weight: bold;
    z-index: 2;
  }
  span:last-of-type{
    right: 0;
    font-size: 23px;
  }

  @media(max-width: 800px){
    span:first-child{
      font-size: 18px;
      right: 70px;
      font-weight: bold;
    }
    span:last-child{
      right: 0;
      font-size: 16px;
    }
  }
  @media(max-width: 414px){
    span:first-of-type{
      font-size: 14px;
      right: 10px;
      font-weight: bold;
      top: -10px;
    }
    span:last-child{
      right: 20px;
      font-size: 12px;
      top: 10px;
    }
  }
}

@import './index2';